html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    display: flex;
    flex-direction: column;
}

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 80px;
    padding: 60px 150px; /* чтобы блок чуть смещался от краев */
    flex: 1; /* занимает доступное пространство над футером */
}

.left {
    max-width: 500px;
}

.fb-logo {
    color: #1877f2;
    font-size: 64px;
    margin-bottom: 10px;
}

.fb-text {
    font-size: 24px;
    color: #1c1e21;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-box {
    background-color: white;
    width: 360px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.15);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

input {
    padding: 14px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ddd;
}

.login {
    background-color: #1877f2;
    color: white;
    border: none;
    padding: 14px;
    font-size: 18px;
    border-radius: 6px;
    cursor: pointer;
}

.create {
    background-color: rgb(95, 218, 57);
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.forgot {
    display: block;
    margin: 14px 0;
    color: #1877f2;
    font-size: 14px;
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.footer {
    text-align: center;
    font-size: 12px;
    color: #65676b;
    width: 100%; /* на всю ширину */
    padding: 20px 0;
    background-color: white;
}

.footer a {
    color: #65676b;
    text-decoration: none;
    margin: 0 5px;
}

.footer a:hover {
    text-decoration: underline;
}

.footer .languages {
    margin-bottom: 10px;
}

.footer .links {
    margin-bottom: 10px;
}

.create-page {
    margin-top: 20px;
    font-size: 14px;
    color: #1c1e21;
    text-align: center;
}

